html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  color: #fff;
  border-bottom: 3px;
  background-image: url("../images/leaf-bg-01.svg");
  background-size: 64px;
  background-repeat: auto;
  background-position: left top;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
